<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('xkeywords.static', filename='styles.css') }}"> <!-- 引入静态CSS文件 -->
    <title>keywords for x</title>
</head>

<body>
    <div id="keyword_operations">
        <h1>keywords for x</h1>
        <p>
            <a href="https://xding.top/archives/538.html">- 推特搜索小技巧</a>
        </p>
        <div id="explanation">
            说明:
            <p>默认OR条件，AND条件要加 `and` 前缀</p>
            <p>标签示例：Nasdaq<span style="color:red">[work,daily,news]</span></p>
        </div>

        <div class="container">
            <div id="active-area">
                <h2>活跃区</h2>
                <div id="keywords">
                    <ul id="keywordList">
                        <li>
                            <input type="checkbox"> <span>abc</span>
                            <button onclick="moveToColdStorage('abc')">冷藏</button>
                            <button onclick="deleteKeyword('abc')">Delete</button>
                        </li>
                        <li>
                            <input type="checkbox"> <span>MAGA</span>
                            <button onclick="moveToColdStorage('MAGA')">冷藏</button>
                            <button onclick="deleteKeyword('MAGA')">Delete</button>
                        </li>
                        <li>
                            <input type="checkbox"> <span>Olympic</span>
                            <button onclick="moveToColdStorage('Olympic')">冷藏</button>
                            <button onclick="deleteKeyword('Olympic')">Delete</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="cold-area">
                <h2>冷藏区</h2>
                <div id="cold-storage">
                    <ul id="coldKeywordList">
                        <!-- 冷藏关键词项会在这里显示 -->
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <button onclick="selectAll()">Select All</button>
            <input type="text" id="newKeyword" placeholder="Add new keyword">
            <button onclick="addKeyword()">Add</button>
            <button onclick="doCopy()">Copy</button>
        </div>
    </div>

    <div id="keyword_import">
        <h1>关键词导入</h1>
        <div>
            <textarea id="keyword-input" placeholder="粘贴关键词组合"></textarea>
            <button id="parse-button">解析</button>
        </div>
        <div id="parsed-keywords" style="display: none;">
            <h2>解析的关键词</h2>
            <button id="select-all-button">全选/反选</button>
            <ul id="keyword-list"></ul>
            <button id="import-button">导入</button>
        </div>
    </div>

    <script>
        let currentPath = window.location.pathname === "/" ? "" : window.location.pathname;

        document.addEventListener('DOMContentLoaded', async () => {
            try {
                const response = await fetch(currentPath + '/getKeywords');
                if (response.ok) {
                    const keywords = await response.json();
                    // 封装tag -> keyword映射关系
                    var keywordTagMap = mapKeywordToTag(keywords);

                    // 遍历tag Map，渲染keyword列表
                    randerTagKeyword(keywordTagMap)
                } else {
                    console.error('Failed to fetch keywords');
                }
            } catch (err) {
                console.error('Failed to fetch keywords: ', err);
            }
        });

        function mapKeywordToTag(keywords) {
            keywordTagMap = { "normal": [] }
            keywords.forEach(keyword => {
                if (Boolean(keyword.tags)) {
                    keyword.tags.split(",").forEach(tag => {
                        if (!Boolean(keywordTagMap[tag])) {
                            keywordTagMap[tag] = []
                        }
                        keywordTagMap[tag].push(keyword)
                    })
                } else {
                    keywordTagMap["normal"].push(keyword)
                }
            });
            return keywordTagMap;
        }

        function randerTagKeyword(keywordTagMap) {
            const activeList = document.getElementById('keywords');
            const coldList = document.getElementById('cold-storage');

            activeList.innerHTML = '';  // 清空活跃区
            coldList.innerHTML = '';    // 清空冷藏区

            ['active', 'cold'].forEach(status => {
                for (let tag in keywordTagMap) {
                    keywords = keywordTagMap[tag]
                    // 渲染tag可视化容器
                    let fieldset = document.createElement("fieldset")
                    let legend = document.createElement("legend")
                    legend.innerText = tag
                    fieldset.appendChild(legend)

                    // 渲染tag框
                    let tagComponent = document.createElement("ul")
                    tagComponent.id = `tag-${status}-${tag}`

                    // 渲染tag控制组件
                    randerTagControlComponent(keywords, tag, status, fieldset)

                    // 渲染keyword行
                    keywords.forEach(keyword => {
                        if (keyword.status === status) {
                            let keywordComponent = randerKeyword(keyword, tag)
                            tagComponent.appendChild(keywordComponent)
                        }
                    })
                    if (tagComponent.childElementCount === 0) {
                        continue
                    }
                    // 组合DOM: keyword -> tag -> fieldset -> parentDiv
                    fieldset.appendChild(tagComponent)
                    if (status === 'active') {
                        activeList.appendChild(fieldset)
                    } else {
                        coldList.appendChild(fieldset)
                    }
                }
            })
        }

        function randerTagControlComponent(keywords, tag, status, parentDOM) {
            // 只有一个keyword时，不需要tagControlComponent
            if (keywords.length === 1) {
                return;
            }

            // 创建和配置复选框
            let checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.checked = false;
            checkbox.onchange = function () {
                console.log(`Selecting elements with selector: #tag-${status}-${tag} li`);
                let keywordComponents = document.querySelectorAll(`#tag-${status}-${tag} li`);
                console.log('Found components:', keywordComponents);
                let isChecked = this.checked;
                keywordComponents.forEach(keywordComponent => {
                    keywordComponent.querySelector("input").checked = isChecked;
                });
            };

            // 创建删除按钮
            let deleteButton = document.createElement("button");
            deleteButton.innerText = "Delete";
            deleteButton.onclick = function () {
                deleteTag(tag);
            };

            // 创建状态变更按钮
            let changeStatusBtn = document.createElement("button");
            changeStatusBtn.innerText = (status === 'active') ? "冷藏" : "激活";
            changeStatusBtn.onclick = function () {
                console.log(`Selecting elements with selector: #tag-${status}-${tag} li`);
                let keywordComponents = document.querySelectorAll(`#tag-${status}-${tag} li`);
                console.log('Found components:', keywordComponents);
                // 获取所有 li 元素中的 data-keyword 属性值
                let keywordArr = [];
                keywordComponents.forEach(keywordComponent => {
                    const dataKeyword = keywordComponent.getAttribute('data-keyword');
                    if (dataKeyword) {
                        keywordArr.push(dataKeyword);
                    }
                });

                // 调用 updateKeywordStatusAndRefresh
                if (keywordArr.length > 0) {
                    updateKeywordStatusAndRefresh(keywordArr, status === 'active' ? 'cold' : 'active');
                }
            };

            // 创建一个空格作为分隔符
            let spacer = document.createTextNode(" ");

            // 将所有元素添加到父DOM中
            parentDOM.appendChild(checkbox);
            parentDOM.appendChild(changeStatusBtn);
            parentDOM.appendChild(spacer);  // 使用文本节点代替innerHTML
            parentDOM.appendChild(deleteButton);
            parentDOM.appendChild(spacer);
            if (tag != "normal") {
                // 创建永久删除按钮
                let permanentDeleteButton = document.createElement("button");
                permanentDeleteButton.innerText = "永久删除";
                permanentDeleteButton.onclick = function () {
                    // 获取该标签下的所有 keyword
                    let keywordArr = [];
                    document.querySelectorAll(`#tag-${status}-${tag} li`).forEach(keywordComponent => {
                        const dataKeyword = keywordComponent.getAttribute('data-keyword');
                        if (dataKeyword) {
                            keywordArr.push(dataKeyword);
                        }
                    });

                    // 调用 deleteKeyword 函数
                    deleteKeyword(keywordArr, "normal");
                };
                parentDOM.appendChild(permanentDeleteButton);
            }

        }

        // 向后端服务器发送删除关键词tag的请求，成功得到响应后刷新页面
        async function deleteTag(tag) {
            try {
                const response = await fetch(`${currentPath}/deleteTag`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ "tag": tag })
                });

                if (response.ok) {
                    location.reload();  // 请求成功后刷新页面
                } else {
                    console.error("Failed to deleteTag " + tag);
                }
            } catch (error) {
                console.error("Error deleteTag:", error);
            }
        }

        function randerKeyword(keyword, tag) {
            const safeKeyword = encodeURIComponent(keyword.keyword);  // 转义关键词
            const li = document.createElement('li');
            li.className = `cls-${btoa(safeKeyword).replace("=", "")}`;  // 使用 Base64 编码作为类名
            li.setAttribute("data-keyword", safeKeyword);
            li.innerHTML = `<input type="checkbox" onchange="relateOperate(event, '${li.className}')"> <span>${keyword.keyword}</span>`;

            // 根据状态添加按钮，点击时调用 updateKeywordStatusAndRefresh
            if (keyword.status === 'active') {
                li.innerHTML += `<button onclick="updateKeywordStatusAndRefresh(['${safeKeyword}'], 'cold')">冷藏</button>`;
            } else {
                li.innerHTML += `<button onclick="updateKeywordStatusAndRefresh(['${safeKeyword}'], 'active')">激活</button>`;
            }

            // 公共的删除按钮
            li.innerHTML += ` <button onclick="deleteKeyword(['${safeKeyword}'],'${tag}')">Delete</button>`;
            return li;
        }

        // 针对所有className的li组件下的checkbox，把其状态关联成ischecked
        function relateOperate(event, className) {
            const isChecked = event.target.checked;
            document.querySelectorAll(`.${className} input[type="checkbox"]`).forEach(function (checkbox) {
                checkbox.checked = isChecked;
            });

        }


        async function updateKeywordStatusAndRefresh(keywords, status) {
            try {
                keywords = keywords.map(keyword => decodeURIComponent(keyword));
                for (const keyword of keywords) {
                    const response = await fetch(`${currentPath}/update_keyword_status`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ keyword, status })
                    });

                    if (response.ok) {
                        console.log("Keyword status updated successfully")
                    } else {
                        console.error("Failed to update keyword status");
                    }
                }
                location.reload();
            } catch (error) {
                console.error("Error updating keyword status:", error);
            }
        }

        function selectAll() {
            const checkboxes = document.querySelectorAll("#active-area ul li input[type='checkbox']");
            shouldCheck = !checkboxes[0].checked;
            checkboxes.forEach(checkbox => {
                checkbox.checked = shouldCheck;
            });
        }

        async function copyContent(text) {
            try {
                await navigator.clipboard.writeText(text);
                console.log('Content copied to clipboard');
            } catch (err) {
                console.error('Failed to copy: ', err);
            }
        }

        function doCopy() {
            const duplicateSet = new Set();
            const kwArr = [];
            const andList = []
            const kwList = document.querySelectorAll("#active-area ul li input:checked");
            kwList.forEach(kw => {
                let kwStr = kw.nextElementSibling.innerText;
                if (duplicateSet.has(kwStr)) {
                    return;
                } else {
                    duplicateSet.add(kwStr);
                }

                if (kwStr.toLowerCase().startsWith("and ")) {
                    andList.push(kwStr.substr(4));
                } else {
                    kwArr.push(kwStr);
                }
            });
            const orResult = kwArr.join(" OR ");
            const andResult = andList.join(" ");
            const latestResult = andResult + " (" + orResult + ")";
            copyContent(latestResult);
        }

        async function addKeyword() {
            const newKeyword = document.getElementById('newKeyword').value.trim();
            if (newKeyword) {
                try {
                    // 假设后端接口为 /addKeyword
                    const response = await fetch(currentPath + '/addKeyword', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ keyword: newKeyword })
                    });
                    if (response.ok) {
                        location.reload();
                    } else {
                        console.error('Failed to add keyword');
                    }
                } catch (err) {
                    console.error('Failed to add keyword: ', err);
                }
            }
        }

        async function deleteKeyword(keywords, tag) {
            try {
                for (const keyword of keywords) {
                    const response = await fetch(currentPath + '/deleteKeyword', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ keyword: decodeURIComponent(keyword), tag: tag })
                    });
                    if (!response.ok) {
                        console.error('Failed to delete keyword:', keyword);
                    }
                }
                location.reload();  // 所有关键词操作完成后刷新页面
            } catch (err) {
                console.error('Failed to delete keywords:', err);
            }
        }

        // 解析关键词
        document.getElementById('parse-button').addEventListener('click', async () => {
            const inputString = document.getElementById('keyword-input').value;
            const response = await fetch(currentPath + '/parse_keywords', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ keywords: inputString })
            });
            const parsedKeywords = await response.json();

            const keywordList = document.getElementById('keyword-list');
            keywordList.innerHTML = '';
            parsedKeywords.forEach(keyword => {
                const li = document.createElement('li');

                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.value = keyword;
                checkbox.checked = true;

                li.appendChild(checkbox);
                li.appendChild(document.createTextNode(keyword));
                keywordList.appendChild(li);
            });

            document.getElementById('parsed-keywords').style.display = 'block';
        });

        // 全选/反选功能
        document.getElementById('select-all-button').addEventListener('click', () => {
            const checkboxes = document.querySelectorAll('#keyword-list input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = !checkbox.checked;
            });
        });

        // 导入关键词
        document.getElementById('import-button').addEventListener('click', async () => {
            const selectedKeywords = Array.from(document.querySelectorAll('#keyword-list input[type="checkbox"]:checked'))
                .map(checkbox => checkbox.value);
            const response = await fetch(currentPath + '/import_keywords', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ keywords: selectedKeywords })
            });
            const result = await response.json();

            if (result.success) {
                alert('关键词已成功导入');
                location.reload();  // 刷新页面
            }
        });
    </script>
</body>

</html>